*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    /* gap: 50px; */
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #DF800C;
  }
  
  .navbar-logo img {
    width: 80px; 
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
    gap: 40px;
    text-align: center;
    align-items:center;
    /* padding-right: 50px; */
  }
  
  .navbar-links li {
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: #4A4343;
    font-family: Outfit;
    list-style: none;
  }

.navbar-links li:hover{
  color: white;
}

a {
    text-decoration: none;
}

  .navbar-links a:hover{
    color: white;
  }

  .donate-btn {
    background-color: #F1BC0C;
    padding: 10px 20px;
    width: 200px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-family: Outfit;
    /* margin-left: 50px; */
  }

  .donate-btn:hover{
    color: #F1BC0C;
    background-color: white;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
  }
  
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-links.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 90px;
      right: 0;
      background-color: #DF800C;
      width: 100%;
      justify-content: center;
      gap: 20px;
      text-align: center;
      align-items: center;
      /* padding-left: 310px; */
      padding-bottom: 40px;

    }
  
    .navbar-button {
      display: none;
    }
  
    .hamburger {
      display: flex;
    }
  }
  
  @media (max-width: 320px) {
  
    .hamburger {
      margin-top: 10px;
    }
  }