*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.daddy {
    width: 1320;
    padding-bottom: 64px;
}

.daddy img {
    width: 100%;
}

.missio {
    display: flex;
    margin-left: 100px;
    font-family: Outfit;
    padding-bottom: 40px;
}

.our button {
    font-size: 35px;
    color: white;
    background-color: #F1BC0C;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.mis button {
    font-size: 35px;
    color: black;
    background-color: #DF800C;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.work button {
    font-size: 35px;
    color: black;
    background-color: #DF800C;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.promote {
    font-size: 22.5px;
    font-weight: 500;
    font-family: Outfit;
    padding-left: 108px;
    padding-right: 108px;
    padding-bottom: 40px;
    text-align: justify;
}

.missios {
    display: flex;
    margin-left: 100px;
    font-family: Outfit;
    padding-bottom: 40px;
}

.ours button {
    font-size: 35px;
    color: black;
    background-color: #DF800C;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.miss button {
    font-size: 35px;
    color: white;
    background-color: #F1BC0C;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.works button {
    font-size: 35px;
    color: black;
    background-color: #DF800C;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.missioss {
    display: flex;
    margin-left: 100px;
    font-family: Outfit;
    padding-bottom: 40px;
}

.ourss button {
    font-size: 35px;
    color: black;
    background-color: #DF800C;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.misss button {
    font-size: 35px;
    color: black;
    background-color: #DF800C;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.workss button {
    font-size: 35px;
    color: white;
    background-color: #F1BC0C;
    width: 385px;
    height: 130px;
    border: none;
    font-weight: 700;
    font-family: Outfit;
    cursor: pointer;
}

.promotes{
    font-size: 22.5px;
    font-weight: 500;
    font-family: Outfit;
    padding-left: 100px;
    padding-right: 99px;
    padding-bottom: 1140px;
    text-align: justify;
}


.see-more {
    color: #F1BC0C;
    font-weight: 700;
    cursor: pointer;
}

.see-more:hover {
    color: white;
    background-color: #DF800C;
}

.donors {
    background-color: #DF800C;
    color: white;
    font-family: Outfit;
}

.becomes {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.mosts {
    font-size: 32px;
    font-weight: 500;
    width: 1225px;
    padding-left: 107px;
    padding-bottom: 32px;
}

.donates {
    width: 200px;
    height: 80px;
    background-color: #F1BC0C;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 570px;
    margin-bottom: 32px;
    cursor: pointer;
}

.donates:hover {
    color: #DF800C;
    background-color: white;
}