*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.hope {
    background-image: url("../../assets/backs.png");
    padding-top: 140px;
    padding-bottom: 127px;
}

.inform {
    background-color: #DF800C;
    margin-left: 183px;
    margin-right: 183px;
    font-family: Outfit;
}

.mat {
    font-size: 32px;
    font-weight: 700;
    color: white;
    padding-top: 32px;
    padding-bottom: 56px;
    padding-left: 17px;
}

.bordered  {
    font-size: 32px;
    font-weight: 700;
    font-family: Outfit;
    display: flex;
    color: white;
    gap: 288px;
    padding-left: 15px;
    padding-right: 15px;
}

.fir {
    border-bottom: 3px solid #F1BC0C;
    width: 370px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.las {
    border-bottom: 3px solid #F1BC0C;
    width: 370px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.stree {
    font-size: 32px;
    font-weight: 700;
    font-family: Outfit;
    color: white;
    margin-left: 15px;
    padding-right: 15px;
    border-bottom: 3px solid #F1BC0C;
    width: 950px;
    padding-bottom: 40px;
}

.city {
    font-size: 32px;
    font-weight: 700;
    font-family: Outfit;
    color: white;
    margin-left: 15px;
    padding-right: 15px;
    padding-right: 15px;
    display: flex;
    padding-top: 40px;
}

.cit {
    border-bottom: 3px solid #F1BC0C;
    width: 370px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-right: 116px;
}

.sta {
    border-bottom: 3px solid #F1BC0C;
    width: 230px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    margin-right: 40px;
}

.zip {
    border-bottom: 3px solid #F1BC0C;
    width: 230px;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.pay {
    font-size: 32px;
    font-weight: 700;
    font-family: Outfit;
    color: white;
    padding-left: 15px;
    padding-top: 40px;
}

.cred {
    font-size: 32px;
    font-weight: 700;
    font-family: Outfit;
    color: white;
    padding-top: 40px;
    border-bottom: 3px solid #F1BC0C;
    width: 950px;
    padding-bottom: 40px;
    margin-left: 15px;
}

.citys {
    font-size: 32px;
    font-weight: 700;
    font-family: Outfit;
    color: white;
    margin-left: 15px;
    padding-right: 15px;
    padding-right: 15px;
    display: flex;
    gap: 250px;
    padding-top: 40px;
}

.cits {
    border-bottom: 3px solid #F1BC0C;
    width: 370px;
    margin-bottom: 32px;
    padding-bottom: 40px;
}

.para {
    font-size: 16px;
    font-weight: 700;
    font-family: Outfit;
    color: #F1BC0C;
    padding-left: 15px;
    cursor: pointer;
}

.para:hover {
    background-color: #F1BC0C;
    color: white;
}

.cancels {
    display: flex;
    font-family: Outfit;
    padding-left: 15px;
    padding-right: 15px;
    gap: 574px;
    padding-top: 32px;
    text-align: center;
    padding-bottom: 69px;
}

.cancels h6 {
    font-size: 26px;
    font-weight: 700;
    color: #C80606;
    padding-top: 22px;
    cursor: pointer;
}

.cancels a {
    list-style: none;
    text-decoration: none;
}

.cancels h6:hover {
    color: white;
}

.cancels button {
    width: 300px;
    height: 80px;
    background-color: #F1BC0C;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.cancels button:hover {
    background-color: white;
    color: #F1BC0C;
}