*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header {
    font-family: Outfit;
    text-align: center;
    padding-bottom: 64px;
    width: 100%;
}

.header h3 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 32px;
    padding-top: 10px;
}

.header p {
    font-size: 32px;
    font-weight: 500;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 32px;
}

.hero {
    background-color: #DF800C;
    width: 100%;
}

.vision {
    font-family: Outfit;
}

.vision h6 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 24px;
}

.bright {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 32px;
    color: white;
    padding-left: 70px;
    width: 1200px;
    text-align: justify;
}

.span {
    color: #643802;
    cursor: pointer;
    font-size: 25px;
}

.span:hover {
    background-color: rgb(90, 90, 241);
    color: white;
    border-radius: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mission {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 32px;
    color: white;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
}

.together {
    font-family: Outfit;
    padding-bottom: 64px;
    width: 100%;
}

.gether  {
    font-size: 32px;
    font-weight: 700;
    padding-top: 64px;
    padding-bottom: 32px;
    text-align: center;
}

.aware {
    display: flex;
    /* gap: 80px; */
    justify-content: space-between;
    padding-left: 107px;
    padding-right: 107px;
}

.aware a {
    text-decoration: none;
    
}

.health h6{
    font-size: 20px;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 22px;
    /* text-align: center; */
    padding-left: 20px;
}

.health p {
    font-size: 17px;
    font-weight: 400;
    width: 321px;
    line-height: 32.24px;
    padding-left: 20px
}

.health {
    padding-right: 20px;
}

.ealth {
    padding-left: 30px;
    width: 100%;
}

.ealths {
    padding-left: 30px;
    width: 100%;
}

.ealthss {
    padding-left: 30px;
    width: 100%;
}

.spans {
    color: #DF800C;
    font-weight: 700;
    cursor: pointer;
}

.spans:hover {
    background-color: #DF800C;
    color: white;
    border-radius: 30%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.economic h6{
    font-size: 20px;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 22px;
    text-align: center;
}

.economic p {
    font-size: 17px;
    font-weight: 400;
    width: 315px;
    line-height: 32.24px;
    padding-left: 20px
}

.economic {
    padding-right: 20px;
}

.provide h6{
    font-size: 20px;
    font-weight: 700;
    padding-top: 16px;
    padding-bottom: 22px;
    text-align: center;
}

.provide p {
    font-size: 17px;
    font-weight: 400;
    width: 322px;
    line-height: 32.24px;
    padding-left: 20px
}

.testimon {
    font-family: Outfit;
    padding-bottom: 55px;
}

.testi {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 32px;
    font-family: Outfit;
}

.two {
    background-color: #DF800C;
    width: 380px;
    color: white;
    border-radius: 20px;
}

.two img {
    padding-left: 150px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.two h6 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 35px;
    padding-bottom: 8px;
    font-family: Outfit;
}

.two p {
    font-size: 16px;
    font-weight: 400;
    width: 310px;
    padding-left: 32px;
    font-family: Outfit;
    text-align: justify;
}

.twos {
    background-color: #DF800C;
    width: 430px;
    color: white;
    border-radius: 20px;
    height: 480px;
}

.twos img {
    padding-left: 150px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.twos h6 {
    font-size: 18px;
    font-weight: 700;
    padding-left: 60px;
    padding-bottom: 8px;
    font-family: Outfit;
}

.twos p {
    font-size: 16px;
    font-weight: 400;
    padding-left: 60px;
    padding-right: 60px;
    font-family: Outfit;
    text-align: justify;
}

.comment {
    display: flex;
    gap: 10px;
    padding-left: 107px;
    padding-right: 107px;
}

.donor {
    background-color: #DF800C;
    color: white;
    font-family: Outfit;
}

.become {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.most {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    width: 1225px;
    padding-left: 107px;
    padding-bottom: 32px;
}

.donate {
    width: 200px;
    height: 80px;
    background-color: #F1BC0C;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 570px;
    margin-bottom: 32px;
    cursor: pointer;
}

.donate:hover {
    color: #DF800C;
    background-color: white;
}

@media screen and (max-width: 1024px) {
    .header {
       width: 100%;
       overflow-x: hidden;
    }

    .header h3 {
        font-size: 50px;
        font-weight: 700;
        padding-bottom: 30px;
        padding-top: 10px;
    }

    .header p {
        font-size: 22px;
        font-weight: 500;
        padding-left: 70px;
        padding-right: 90px;
        padding-bottom: 30px;
    }

    .header img{
        width: 80%;
    }

    .hero {
        width: 75%;
        overflow-x: hidden;
    }

    .vision h6 {
        font-size: 27px;
        font-weight: 700;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 24px;
    }

    .bright {
        font-size: 27px;
        font-weight: 500;
        padding-bottom: 30px;
        color: white;
        padding-left: 50px;
        padding-right: 40px;
        width: 750px;
        text-align: justify;
    }

    .mission {
        font-size: 27px;
        font-weight: 500;
        padding-bottom: 30px;
        color: white;
        padding-left: 50px;
        padding-right: 40px;
        text-align: justify;
        width: 750px;
    }

    .together {
        width: 80%;
    }

    .gether {
        font-size: 30px;
        padding-top: 58px;
        padding-bottom: 32px;
    }

    .aware {
        padding-left: 30px;
    }

    .health h6 {
        font-size: 17px;
        padding-left: 0px;
    }

    .health p {
        font-size: 14px;
        width: 290px;
        padding-left: 10px;
    }

    .health{
        padding-right: 0px;
    }

    .ealth {
        padding-left: 1px;
        width: 70%;
    }

    .ealths {
        padding-left: 1px;
        width: 70%;
    }

    .ealthss {
        padding-left: 1px;
        width: 70%;
    }

    .economic h6 {
        font-size: 18px;
    }

    .economic p {
        font-size: 15px;
        width: 290px;
        /* padding-left: 10px; */
    }

    .economic {
        padding-right: 0px;
    }

    .provide h6 {
        font-size: 18px;
    }

    .provide p {
        font-size: 15px;
        width: 290px;
        /* padding-left: 10px; */
    }
}